body{
    background-color: skyblue;
}
a:link{color: deepskyblue}
a:visited{color:royalblue}
#everything {
    margin: auto;
    width: 100%;
}
#banner{
    height: 160px;
    background: blue;
    margin-bottom: 50px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 50px;
    font-size: 14px;
    color: gray;
}
#menuBar{
    margin-top: 60px;
    background: blue;
    float: right;
    coor: gray;
}

#menuBar .menuButton{
    width: 150px;
    background: black;
    border: 5px solid black;
    padding: auto;
    text-align: center;
    color: white;
    margin: 10px;
    border-radius: 20px;
    display: inline-block;
}

#content{
    background-color: darkcyan;
}
